.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86.7vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;

    /* width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
  form{
      background-color: white;
      padding: 0px 60px;
      border-radius: 10px;
  }
  
  h1{
      color: rgb(77, 1, 77);
      text-align: center;
  }
  
  .button{
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  } 

  .radio-label {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    margin-right: 7px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  
  .radio-input {
    margin: 0;
    visibility: hidden;
  }
  
  .radio-input:checked + span {
    border: 2px solid #6ea5e4;
  }
  
  .radio-input:checked + span:after {
    opacity: 1;
  }
  
  .custom-radio {
    left: -8px;
    top: 4px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 2px solid #9a9a9a;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }
  
  /* for inner filled circle */
  .custom-radio::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #6ea5e4;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
  }

  .select-theme{
    margin: 0px 0px 10px 0px;
  }